[submodule "Choral-Riff-Frontend"]
	path = Choral-Riff-Frontend
	url = git@github.com-front:Kamal-And-The-Gang/Choral-Riff-Frontend.git
[submodule "Choral-Riff-Backend"]
	path = Choral-Riff-Backend
	url = git@github.com-back:Kamal-And-The-Gang/Choral-Riff-Backend.git